header {
    background-color: #D2DFD8;
    margin: -8px;
    height: 100%;
    font-size: 40px;
}

.header {
    display: flex;
}

.header-title {
    margin-top: 1em;
    margin-left: 1em;
}

.cart {
    margin-left: auto;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 25px;
    border-width: 1px;
    background-color: orange;
    padding: 10px;
}

.itemDisplayContainer {
    display: inline-block;
    border: solid;
    border-width: 1px;
    margin: 3px;
}

.itemDisplayTitle {
    font-size: 20px;
    text-align: center;
}